/* ==== A SIMPLE CSS RESET FROM ERIC MEYER ==== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*color help*/
/*#profile-card{
  background-color: hsla(60, 100%, 50%, .4);
}
#head, #content{
  background-color: greenyellow;
}
#profile-image, #name-headline, #about, #links{
  background-color: violet;
}*/
/* ==== BASE STYLES ==== */
body{
  font-family: Inconsolata, 'Times New Roman', serif;
}
h1,h2{
  font-family: Montserrat, 'Open Sans', Arial, sans-serif;
}
/*Stabilește tipografia*/
body{
  font-size: 1.125rem;
  height: 2rem;
}
h1{
  font-size: 1.8rem;
}
h2{
  font-size: 1.6rem;
}
#about{
  letter-spacing: 0.125rem;
}
.picture{
  width: 50%;
  height: 50%;
}
* {
	box-sizing: border-box;
}
/* ==== LAYOUT STYLES ==== */
h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr,
img,
#head, #content {
    margin-bottom: 1rem;
}
/* ==head==*/
#head{
  text-align: center;
	padding: 1.25rem;
}
@media (min-width: 768px) {
#head {
			position: fixed;
			top: 0;
			height: 100%;
			width: 50%;
		}
}
/*==continut si legaturi ==*/
#about, #links{
  width: 95%;
  text-align: center;
	margin: 1.25rem auto;
	padding: 0.3125rem;
}
#content{
  width: 95%;
	margin: 0 auto 1rem;
	padding: 0.3125rem;
}
/*  Content Wrapper Styles */

@media (min-width: 768px) {

	#content {
		float: right;
		width: 50%;
		max-width: 812px;
	}

}
ul{
  list-style-type: none;
  
}
li{
  display: inline-block;
  
}
#profile-card{
  background: url('assets/abraziv-alb-arta-aspect-1939485.jpg') no-repeat center center fixed;
  background-size: cover;
}
/* ==== COMPONENT STYLES ==== */
.load {
	display: block;
	text-align: center;
	padding: 0.625rem;
	font-size: 1.25rem;
	color: #8c8e9b;
}
a {
	color:black;
	text-decoration: none;
}

a:hover {
	color: skyblue;
}



