/* ==== A SIMPLE CSS RESET FROM ERIC MEYER ==== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*color help*/
/*#profile-card{
  background-color: hsla(60, 100%, 50%, .4);
}
#head, #content{
  background-color: greenyellow;
}
#profile-image, #name-headline, #about, #links{
  background-color: violet;
}*/
/* Poziționarea */

.profile-card {
  width: 480px;
  max-width: calc(100vw - 10px);
}
/*centrare cu flexbox*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/*centrare containere si a continutului*/
#head, #links{
  text-align: center;
}
/*setez pentru head si content o lățime de 90% pentru fiecare și le voi centra pe orizontală*/

#head, #content {
  width: 90%;
  margin: 0 auto;
}
/*imaginea de profil*/
img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
/*mutare container imagine de profil catre marginea de sus*/
#profile-image {
  margin-top: -60px;
}
/*Lista inline*/
ul {
  list-style-type: none;
}

li {
  display: inline;
}
/*Adăugarea spațiilor albe*/
#head, #about {
  margin-bottom: 10%;
}

#content {
  padding: 5% 10%;
}
/*Adăugarea unei imagini de fundal*/
body {
  background: url('assets/foto fundal 1.jpg') no-repeat center center fixed;
  background-size: cover;
}
/*Formatarea cărții de vizită*/
#profile-card {
  background-color: hsla(0, 0%, 100%, .5);
  border-radius: 4px;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
}
/*Adăugarea marginilor*/
img {
  padding: 1px;
  background-color: #666;
  filter: grayscale(50%);
}
/*o linie subțire între secțiunile #head și #content*/
#content {
  border-top: 1px solid hsla(0, 0%, 30%, .8);
}
/*Schimbarea interacțiunii*/
img:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  filter: grayscale(20%);
}
/* formatarea textului*/
h1, h2{
  font-family: 'Cormorant Garamond', 'Times New Roman';
}
p{
 font-family:'Open Sans Condensed', 'Sans Serif'; 
}
h1{
 font-size:20px;
  font-weight: 500;
}
h2{
  font-size:18px;
}
p{
 font-size:16px; 
}



